Chapter 06/flows-2.json
[
    {
        "id": "9886359a7e6125c9",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af3ae692b04e9326",
        "type": "rpi-dht22",
        "z": "9886359a7e6125c9",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "0",
        "pin": "4",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "f72c31dc831386cb"
            ]
        ]
    },
    {
        "id": "7be64b58574853ac",
        "type": "inject",
        "z": "9886359a7e6125c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "af3ae692b04e9326"
            ]
        ]
    },
    {
        "id": "bcd55cc14bca3c7c",
        "type": "mysql",
        "z": "9886359a7e6125c9",
        "mydb": "8d5dd02622f84fe9",
        "name": "",
        "x": 850,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "f72c31dc831386cb",
        "type": "function",
        "z": "9886359a7e6125c9",
        "name": "function 1",
        "func": "var sensor = msg.topic;\n\nvar timezoneOffset = new Date().getTimezoneOffset() * 60000; var timezoneDate = new Date(Date.now() - timezoneOffset); var collect_time = timezoneDate.toISOString().slice(0, 19).replace('T', ' ');\n\nvar temp_c = msg.payload;\n\nvar temp_f = temp_c * (9 / 5) + 32;\n\nvar humidity = msg.humidity;\n\nmsg.payload = [sensor, temp_c, temp_f, humidity, collect_time]\n\nmsg.topic = \"INSERT INTO collect_data (sensor,temp_c,temp_f,humidity,collect_time)\"; msg.topic = msg.topic + \"VALUES(?,?,?,?,?)\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "bcd55cc14bca3c7c"
            ]
        ]
    },
    {
        "id": "8d5dd02622f84fe9",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "dht11",
        "tz": "",
        "charset": "UTF8"
    }
]