Chapter 06/flows.json
[
    {
        "id": "9886359a7e6125c9",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af3ae692b04e9326",
        "type": "rpi-dht22",
        "z": "9886359a7e6125c9",
        "name": "",
        "topic": "rpi-dht11",
        "dht": "11",
        "pintype": "0",
        "pin": "4",
        "x": 500,
        "y": 300,
        "wires": [
            [
                "4ff1da748d8c12a9",
                "370f4cef07cd3c7d",
                "8d1357de3e3b9aa3",
                "e5de70532a132cfc",
                "da7428be70f5866b",
                "3e842ba3b30133c6"
            ]
        ]
    },
    {
        "id": "7be64b58574853ac",
        "type": "inject",
        "z": "9886359a7e6125c9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "af3ae692b04e9326"
            ]
        ]
    },
    {
        "id": "4ff1da748d8c12a9",
        "type": "debug",
        "z": "9886359a7e6125c9",
        "name": "Temperature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "370f4cef07cd3c7d",
        "type": "debug",
        "z": "9886359a7e6125c9",
        "name": "Humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "humidity",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "8d1357de3e3b9aa3",
        "type": "ui_gauge",
        "z": "9886359a7e6125c9",
        "name": "",
        "group": "a9bb84f5d17eedc5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Temperature",
        "format": "{{msg.payload}}C°",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "e119cdcdf533e590",
        "type": "ui_gauge",
        "z": "9886359a7e6125c9",
        "name": "",
        "group": "73d5f280f2a3cdc7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "Humidity",
        "format": "{{msg.payload}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "87f9cc0baa935ba2",
        "type": "ui_chart",
        "z": "9886359a7e6125c9",
        "name": "",
        "group": "73d5f280f2a3cdc7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e5de70532a132cfc",
        "type": "ui_chart",
        "z": "9886359a7e6125c9",
        "name": "",
        "group": "a9bb84f5d17eedc5",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "da7428be70f5866b",
        "type": "function",
        "z": "9886359a7e6125c9",
        "name": "function 1",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 400,
        "wires": [
            [
                "e119cdcdf533e590",
                "87f9cc0baa935ba2",
                "5dcd26fcf17c9796"
            ]
        ]
    },
    {
        "id": "5dcd26fcf17c9796",
        "type": "ui_text",
        "z": "9886359a7e6125c9",
        "group": "73d5f280f2a3cdc7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "x": 940,
        "y": 340,
        "wires": []
    },
    {
        "id": "3e842ba3b30133c6",
        "type": "ui_text",
        "z": "9886359a7e6125c9",
        "group": "a9bb84f5d17eedc5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}⁣C°",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "a9bb84f5d17eedc5",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "a362c6d069f6e8f0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "73d5f280f2a3cdc7",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "a362c6d069f6e8f0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a362c6d069f6e8f0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]